html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Red Hat Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paf-app {}

.tank-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0px 4px 0px #000;

  /* background-color: #e5e5f7;
  opacity: 0.8;
  background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px; */
}

.nav-button {
  border: 2px solid black;
}

.nav-button:hover,
.nav-button:focus {
  transition: background-color .1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #000;
}

.tank-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 4rem;
  height: 4rem;
  font-size: .5rem;
  border-radius: 100%;
  background-color: #D6EBFF !important;
  border: 2px solid #2E2D2D;
  box-shadow: 0px 4px 0px #000;
}

.tank-button:hover,
.tank-button:focus {
  transition: background-color .1s ease-in-out;
  background-color: #7dafde !important;
  border: 2px solid #2E2D2D !important;
  box-shadow: 0px 4px 0px #000;
}

.tank-button:active {
  transition: background-color .1s ease-in-out, box-shadow .1s ease-in-out;
  background-color: #7dafde !important;
  box-shadow: 0px -2px 0px #000;
}


.tank-button__species {
  font-size: 0.889rem;
}

.tank-button__name {
  font-size: 0.667rem;
}

/* Visually hides elements but allows screen readers to still interpret content */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.paf-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.paf-title {
  margin-bottom: 0;
}

.tank-header {}

.tank-header__name {
  font-size: 1.778rem;
  margin-bottom: 0;
}

.thank-header__species {
  font-size: 0.889rem;
}

.tank-sensors__wrapper {
  padding: 1rem 0;
}

.sensor-detail__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sensor-detail__tank {
  display: flex;
  flex-direction: column;
  height: 7rem;
  flex: 1 0 0;
  padding: 1rem;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0px 4px 0px #000;
}

.sensor-detail__sensors--row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.sensor-detail__sensors--column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.sensor__water {
  display: flex;
  flex-direction: column;
  height: 7rem;
  flex: 1 0 0;
  padding: 1rem;
  background-color: #3284FF;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0px 4px 0px #000;
}

.sensor__dissolved-oxygen {
  display: flex;
  flex-direction: column;
  height: 7rem;
  flex: 1 0 0;
  padding: 1rem;
  background-color: #FFDADA;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0px 4px 0px #000;
}

.sensor-detail__temperature {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: 1rem;
  background-color: #FFF6A1;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0px 4px 0px #000;
}